@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-box: 0.5rem;
  --rounded-btn: 0.25rem;
  --toastify-color-info: #2094f3 !important;
  --toastify-color-success: #0be586 !important;
  --toastify-color-warning: #fb9865 !important;
  --toastify-color-error: #ff3860 !important;
  --toastify-toast-background: transparent !important;
  --toastify-toast-min-height: 0 !important;
  font-family: "Rubik", sans-serif;
}

.Toastify__toast {
  box-shadow: none !important;
  padding: 0;
  margin-bottom: 0.5rem !important;
  display: flex;
  align-items: center;
  padding: 0 8px !important;
}
.Toastify__toast-body {
  @apply text-sm;
  @apply whitespace-nowrap;
  font-family: "Rubik", sans-serif !important;
}
